---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<h1>Hi, I'm Fátima Díaz Da Corte</h1>

	<!-- Imagen temporal -->
	<img src="/me.jpg" alt="me" />

	<p>
		I am a bioinformatician based in Cambridge, UK, with a strong background in physics,
		mathematics, and computational biology. I hold a Master’s degree in Bioinformatics and
		Biostatistics and have hands-on experience in genomic data analysis, multi-omics
		integration, and machine learning. My work focuses particularly on oncology,
		transcriptomics, and applying computational approaches to early disease detection.
	</p>

	<p>
		Professionally, I have worked in computational genomics in virology at GSK, where I
		analyzed large-scale genomic datasets, built and benchmarked phylogenetic tools,
		optimized bioinformatics pipelines using Snakemake, and worked in high-performance
		computing environments. I enjoy solving complex problems, collaborating in
		multidisciplinary teams, and continuously expanding my expertise in AI and
		integrative genomics.
	</p>
	
</Layout>
